BusinessLayer/Connected Services/BusinessServices/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61415/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61415/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61415/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_SearchEmployeeByNameBS_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchEmployeeByNameBS" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchEmployeeByNameBS_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchEmployeeByNameBSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchProjectBS_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchProjectBS" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchProjectBS_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchProjectBSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchCategoryBS_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchCategoryBS" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchCategoryBS_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchCategoryBSResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchSkillBS_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchSkillBS" />
  </wsdl:message>
  <wsdl:message name="IService1_SearchSkillBS_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchSkillBSResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="SearchEmployeeByNameBS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchEmployeeByNameBS" message="tns:IService1_SearchEmployeeByNameBS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchEmployeeByNameBSResponse" message="tns:IService1_SearchEmployeeByNameBS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchProjectBS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchProjectBS" message="tns:IService1_SearchProjectBS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchProjectBSResponse" message="tns:IService1_SearchProjectBS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchCategoryBS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchCategoryBS" message="tns:IService1_SearchCategoryBS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchCategoryBSResponse" message="tns:IService1_SearchCategoryBS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchSkillBS">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SearchSkillBS" message="tns:IService1_SearchSkillBS_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SearchSkillBSResponse" message="tns:IService1_SearchSkillBS_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchEmployeeByNameBS">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchEmployeeByNameBS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchProjectBS">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchProjectBS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCategoryBS">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchCategoryBS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchSkillBS">
      <soap:operation soapAction="http://tempuri.org/IService1/SearchSkillBS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:61415/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>